@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
@model TestimonialTrainerViewModel;
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Training Studio - Ayman</title>
<!--

TemplateMo 548 Training Studio

https://templatemo.com/tm-548-training-studio

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/GuestHome/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/GuestHome/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/GuestHome/assets/css/templatemo-training-studio.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">Training<em> Studio</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#features">About</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            <a asp-controller="Users" asp-action="LoginPage">Sign Up</a>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="~/GuestHome/assets/images/gym-video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>work harder, get stronger</h6>
                <h2>easy with our <em>gym</em></h2>
                <div class="main-button scroll-to-section">
                    <a asp-controller="Users" asp-action="LoginPage">Become a member</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>About us </h2>
                        <img src="~/GuestHome/assets/images/line-dec.png" alt="waves">
                        <p>Welcome to Ayman's Fitness Hub, where we are dedicated to providing high-quality fitness services and helping individuals reach their health goals. Join us and take your fitness journey to the next level. Created by Ayman, this hub is designed with fitness enthusiasts in mind.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    @foreach (var item in Model.Testimonials)
                    {
                        <ul class="features-items">
                            <li class="feature-item">
                                <div class="left-icon">
                                    <img src="~/GuestHome/assets/images/line-dec.png" alt="waves">
                                </div>
                                <div class="right-content">
                                    <h4>@item.Rate</h4>
                                    <p>@item.Text</p>
                                </div>
                            </li>
                        </ul>
                    }
                </div>
                <div class="col-lg-6">
                    @foreach (var item in Model.Testimonials)
                    {
                        <ul class="features-items">
                            <li class="feature-item">
                                <div class="left-icon">
                                    <img src="~/GuestHome/assets/images/features-first-icon.png" alt="training fifth">
                                </div>
                                <div class="right-content">
                                    <h4>@item.Rate</h4>
                                    <p>@item.Text</p>
                                </div>
                            </li>
                        </ul>
                    }
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->

    <!-- ***** Call to Action Start ***** -->
   
    <!-- ***** Call to Action End ***** -->

    
    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Expert <em>Trainers</em></h2>
                        <img src="~/GuestHome/assets/images/line-dec.png" alt="">
                        <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                    </div>
                </div>
            </div>
            <div class="row">
               
<div class="row">
    @foreach (var trainer in Model.Trainers)
    {
        <div class="col-lg-4">
            <div class="trainer-item">
                <div class="image-thumb">
                    <!-- Assuming the trainer has an image URL field -->
                    <img src="@trainer.UserImage" alt="@trainer.UserName">
                </div>
                <div class="down-content">
             
                    <h4>@trainer.UserName</h4>
                    <p>@trainer.Email</p> <!-- Assuming you have a Description field for trainers -->
                    <ul class="social-icons">
                      
                    </ul>
                </div>
            </div>
        </div>
    }
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
                      <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email"  placeholder="Your Email*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright &copy; 2020 Training Studio

                        - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">TemplateMo</a><br>

                        Distributed by <a rel="nofollow" href="https://themewagon.com" class="tm-text-link" target="_blank">ThemeWagon</a>

                    </p>

                    <div class="contact-info">
                        <p>Contact Us:</p>
                        <ul class="social-icons">
                            <li><a href="mailto:contact@trainingstudio.com" title="Email"><i class="fa fa-envelope"></i> Email</a></li>
                            <li><a href="tel:+1234567890" title="Phone"><i class="fa fa-phone"></i> +1 (234) 567-890</a></li>
                            <li><a href="https://www.instagram.com/trainingstudio" target="_blank" title="Instagram"><i class="fa fa-instagram"></i> Instagram</a></li>
                            <li><a href="https://www.facebook.com/trainingstudio" target="_blank" title="Facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
                        </ul>
                    </div>
                    
                    <!-- You shall support us a little via PayPal to info@templatemo.com -->
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/GuestHome/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/GuestHome/assets/js/popper.js"></script>
    <script src="~/GuestHome/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/GuestHome/assets/js/scrollreveal.min.js"></script>
    <script src="~/GuestHome/assets/js/waypoints.min.js"></script>
    <script src="~/GuestHome/assets/js/jquery.counterup.min.js"></script>
    <script src="~/GuestHome/assets/js/imgfix.min.js"></script> 
    <script src="~/GuestHome/assets/js/mixitup.js"></script> 
    <script src="~/GuestHome/assets/js/accordions.js"></script>
    
    <!-- Global Init -->
    <script src="~/GuestHome/assets/js/custom.js"></script>

  </body>
</html>