@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<style>
    input[type="range"] {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        background: #ddd;
        height: 5px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
    }

    .dialog-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

        .dialog-overlay.active {
            display: flex;
        }

    .dialog {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        width: 90%; /* Large size */
        height: 80%; /* Large height */
        max-width: 1200px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .close-button {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #4caf50;
            cursor: pointer;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        }

        input[type="range"]::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #4caf50;
            cursor: pointer;
        }

    .modal-header {
        background-color: #f8f9fa;
    }

    .modal-title {
        font-weight: bold;
    }

    .btn-close {
        background: none;
        border: none;
</style>
@model MemberModel;
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Training Studio - Free CSS Template</title>
<!--

TemplateMo 548 Training Studio

https://templatemo.com/tm-548-training-studio

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/GuestHome/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/GuestHome/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/GuestHome/assets/css/templatemo-training-studio.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <!-- ***** Logo End ***** -->
                        <a class="logo">Ayman<em> Studio</em></a>

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#features">Program</a></li>
                            <li class="scroll-to-section"><a href="#our-classes">Excecises</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            <li class="scroll-to-section"><a asp-action="Edit" asp-controller="Users" asp-route-id="@Model.User.Id" >Update profile</a></li>

                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="~/MemberHome.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>"Train harder, grow stronger</h6>
                <h2>it’s simple with our <em>gym</em></h2>
               
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Choose <em>Program</em></h2>
                        <img src="~/GuestHome/assets/images/line-dec.png" alt="waves">
                        <p> Ayman Training Studio is gyms and fitness centers. You are allowed to use  business website.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        @foreach (var item in Model.Plans.Take(Model.Plans.Count / 2))
                        {
                            <li class="feature-item">
                                <div class="left-icon">
                                    <img src="~/GuestHome/assets/images/features-first-icon.png" alt="third gym training">
                                </div>
                                <div class="right-content">
                                    <h4>@item.Title</h4>
                                    <p>@item.Descriptions</p>
                                    <a asp-controller="SubscriptionPlan" asp-action="Index" asp-route-id="@item.Id" class="text-button">Discover More</a>

                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        @foreach (var item in Model.Plans.Skip(Model.Plans.Count / 2))
                        {
                            <li class="feature-item">
                                <div class="left-icon">
                                    <img src="~/GuestHome/assets/images/features-first-icon.png" alt="third gym training">
                                </div>
                                <div class="right-content">
                                    <h4>@item.Title</h4>
                                    <p>@item.Descriptions</p>
                                    <a asp-controller="SubscriptionPlan" asp-action="Index" asp-route-id="@item.Id" asp-route-userId="@Model.User.Id" class="text-button">Discover More</a>
                                </div>
                            </li>
                        }
                       
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->
    <!-- Modal -->

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Our <em>Classes</em></h2>
                        <img src="~/GuestHome/assets/images/line-dec.png" alt="">
                        <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
                        @for (int i = 0; i < Model.Exercises.Count; i++)
                        {
                            <li>
                                <a href="#tabs-@i">
                                    <img src="~/GuestHome/assets/images/tabs-first-icon.png" alt="">
                                    @Model.Exercises[i].Title
                                </a>
                            </li>
                        }


                </ul>
              </div>
              <div class="col-lg-8">
                <section class='tabs-content'>
                        @for (int i = 0; i < Model.Exercises.Count; i++)
                        {
                            <article id="tabs-@i">
                                <img src="~/GuestHome/assets/images/training-image-@(((i %4)+1).ToString("D2")).jpg" alt="@Model.Exercises[i].Title">
                                <h4>@Model.Exercises[i].Title</h4>
                                <p>@Model.Exercises[i].Description</p>
                              
                            </article>
                        }

                </section>
              </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->
    
    

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Expert <em>Trainers</em></h2>
                        <img src="~/GuestHome/assets/images/line-dec.png" alt="">
                        <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                    </div>
                </div>
            </div>
            @foreach (var item in Model.Trainners) {
                <div class="col-lg-4">
                    <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="~/Images/@item.UserImage" alt="">
                    </div>
                    <div class="down-content">
                        <span>@item.Email</span>
                        <h4>@item.UserName</h4>
                        <p>@item.CreatedAt</p>
                        <ul class="social-icons">
                        </ul>
                    </div>
                </div>
            </div>}
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
                      <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" asp-controller="Testimonial" asp-action="Create" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="Text" rows="6" id="message" placeholder="Message" asp-for="Testimonial.Text" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <label for="rating-slider">Rate us:</label>
                                        <input type="range" id="rating-slider" name="Rate" asp-for="Testimonial.Rate" min="1" max="5" value="3" oninput="updateSliderValue(this.value)">
                                        <span id="slider-value">3</span>
                                    </fieldset>
                                </div>
                                <!-- Image Upload -->
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="file" asp-for="Testimonial.imageFile" name="imageFile" />
                                    </fieldset>
                                </div>
                                <input type="hidden" name="UserId" value="@Model.User.Id" asp-for="@Model.User.Id" />

                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Send Message</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright &copy; 2025 Ayman Training Studio



                    </p>

                    <div class="contact-info">
                        <p>Contact Us:</p>
                        <ul class="social-icons">
                            <li><a href="mailto:@Model.Contact.Email" title="Email"><i class="fa fa-envelope"></i> @Model.Contact.Email</a></li>
                            <li><a href="tel:@Model.Contact.Phone" title="Phone"><i class="fa fa-phone"></i> @Model.Contact.Phone</a></li>
                            <li><a href=@Model.Contact.Insta target="_blank" title="Instagram"><i class="fa fa-instagram"></i> @Model.Contact.Insta</a></li>
                            <li><a href="@Model.Contact.Facebook" target="_blank" title="Facebook"><i class="fa fa-facebook"></i> @Model.Contact.Facebook</a></li>
                        </ul>
                    </div>


                    <!-- You shall support us a little via PayPal to info@templatemo.com -->
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/GuestHome/assets/js/jquery-2.1.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/GuestHome/assets/js/popper.js"></script>
    <script src="~/GuestHome/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/GuestHome/assets/js/scrollreveal.min.js"></script>
    <script src="~/GuestHome/assets/js/waypoints.min.js"></script>
    <script src="~/GuestHome/assets/js/jquery.counterup.min.js"></script>
    <script src="~/GuestHome/assets/js/imgfix.min.js"></script> 
    <script src="~/GuestHome/assets/js/mixitup.js"></script> 
    <script src="~/GuestHome/assets/js/accordions.js"></script>
    
    <!-- Global Init -->
    <script src="~/GuestHome/assets/js/custom.js"></script>
    <script>
        function updateSliderValue(value) {
            document.getElementById('slider-value').innerText = value;
        }
    


    </script>
  </body>
</html>